/* add all items from grading group 3 and 4. Search for items in group 5 that refer to css f.e. z index */
@import url('https://fonts.googleapis.com/css2?family=Sansation&display=swap');

#h1banner {
    font-family: 'Sansation', sans-serif;
    font-size: 3em;
}

#pbanner {
    font-family: 'Robotica', sans-serif;
    font-size: 1em;
    letter-spacing: 2px;
    line-height: 1.5;
    text-indent: 15px;
    word-spacing: 3px;
}

#pbanner::first-letter {
    font-size: 1.5em;
    font-weight: bold;
}

h1 {
    font-family: 'Sansation', sans-serif;
    font-size: 3em;
}

h2 {
    font-family: 'Sansation', sans-serif;
    font-size: 2.2em;
}

p {
    font-family: 'Robotica', sans-serif;
    font-size: 1.2em;
}

nav {
    font-family: 'Sansation', sans-serif;
    font-size: 1.8em;
}